<div class="row text-center">
  <hr/><h1>EmailService</h1>
  <h2>Welcome, Please sign or Register</h2><hr/>
</div>
<div class="row text-center">
  <div class="large-6 columns panel">
    <%= form_for(@user, url: '/login') do |form| %>
      <%= form.label :email %><br>
      <%= form.email_field :email %><br>
      <%= form.label :password %><br>
      <%= form.password_field :password %>
      <button class="tiny round info button" type="submit">Login</button>
    <% end %><br>
  </div>
  <div class="large-6 columns">
    <%= link_to "Register", new_user_path, class: "medium round info button"%>
  </div>
</div>