<div class="row">
  <div class="large-6 columns">
    <h1>Hello, <%= @user.name %></h1>
    <h3>Send an email</h3>
  </div>
  <div class="large-6 columns text-right logout">
    <%= link_to "Logout", logout_path, method: :delete,  class: "small round button info" %>
  </div>
</div>
<div class="row text-center">
  <hr/><h1>Email Sender</h1><hr/>


  <div class='panel'>
    <h3>Email Form</h3><br>
    <%= form_tag :method => "post", :action => "send_email" , :html => {:'data-abide' => true} do %>
      <div class="row">
        <div class="large-6 columns">
          <%= text_field_tag :user_name, params[:user_name], placeholder: "Your Name", :required => true %>
        </div>
        <div class="large-6 columns">
          <%= text_field_tag :recipient_email, params[:recipient_email], placeholder: "Recipient Email", :required => true %>
        </div>
      </div><br>
      <div class="row">
        <div class="large-12 columns">
          <%= text_field_tag :subject, params[:subject], placeholder: "Subject", :required => true %>
          <%= text_field_tag :body, params[:body], placeholder: "Body"%>
        </div>
        <div class="large-4 columns">
          <button class="round alert button expand" id="click_search" name="search_button" type="submit" value="Search">Send</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>